@import '../../../styles/variables.scss';

.container {
  color: white;
  width: 20rem;
  height: 26rem;
  // background-image: url('../../../public/assets/modules/CardBg.svg');
  background-repeat: no-repeat;
  background-size: cover;
  margin: 1rem 1.8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  .image {
    width: 60%;
    height: 60%;
    position: absolute;
    // top: -1rem;

    z-index: 10000;

    -webkit-clip-path: polygon(
    0 0,
    81% 0,
    100% 22%,
    100% 100%,
    25% 100%,
    0 79%
  );
  clip-path: polygon(0 0, 81% 0, 100% 22%, 100% 100%, 25% 100%, 0 79%);
  }

  .wrapper_outline {
    width: 90%;
    height: 95%;
    background: linear-gradient(to bottom, #4edfff, #ff00bf);

    border-bottom-left-radius: 20px;
    border-top-right-radius: 25px;
    display: none;
    justify-content: center;
    align-items: center;
    -webkit-clip-path: polygon(
      0 0,
      81% 0,
      100% 22%,
      100% 100%,
      25% 100%,
      0 79%
    );
    clip-path: polygon(0 0, 81% 0, 100% 22%, 100% 100%, 25% 100%, 0 79%);

    .wrapper {
      width: 98%;
      height: 98%;
      // background: linear-gradient(to bottom, #1b13ff7a, #ec1d69);
      position: relative;
      border-bottom-left-radius: 20px;
      border-top-right-radius: 25px;
      -webkit-clip-path: polygon(
        0 0,
        81% 0,
        100% 22%,
        100% 100%,
        25% 100%,
        0 79%
      );
      clip-path: polygon(0 0, 81% 0, 100% 22%, 100% 100%, 25% 100%, 0 79%);

      .overlay {
        position: absolute;
        bottom: -1px;
        height: 61%;
        opacity: 0;
        transition: all 0.3s ease-in-out;
        width: 100%;
        background-color: aliceblue;
        background: rgba(255, 255, 255, 0.25);
        box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
        backdrop-filter: blur(4px);
        -webkit-backdrop-filter: blur(4px);
        border-bottom-left-radius: 20px;
        border-top-right-radius: 20px;
        border: 1px solid rgba(255, 255, 255, 0.18);
        text-align: center;
        font-family: $mokotoGlitchMark;
        padding-top: 3rem;
        font-size: 2rem;
      }

      .text_wrapper{
        position: absolute;
        bottom: 4rem;
      }
      .name{
          text-transform: uppercase;
          font-weight: 900;
          font-size: large;
          word-wrap: break-word;
          padding: 1rem;
      }
      .position{
          color:#ff00bf;
          padding-left: 1rem;
          padding-right: 1rem;
          word-wrap: break-word;

      }
      .socialmedia_wrapper{
        position: absolute;
        right: 2rem;
        top: 4rem;
      }
      .icon{
        font-size: xx-large;
        margin-top: 1rem;
        cursor: pointer;
      }
    }
  }

  &:hover {
    cursor: pointer;

    .wrapper_outline {
      .wrapper {
        .overlay {
          opacity: 1;
        }
      }
    }
  }
}
.container:hover > .image{
  transform: translateY(-6rem) ;
  transition: 1s ease-in-out;
  left: 10%;
  right: 10%;
}

.container:hover > .wrapper_outline{
  display: flex;
  animation: fadeIn 1s ease-in-out;
}


@media only screen and (min-width: 2200px) {
  .container {
    width: 30rem;
    height: 22rem;
  }
}

@media only screen and (max-width: 1300px) {
  .container {
    width: 16rem;
    height: 20.5rem;
    .wrapper_outline{
      .wrapper{
        .name{
          font-size: small;
        }
        .position{
          font-size: x-small;
        }
        .socialmedia_wrapper{
          position: absolute;
          right: 1rem;
          top: 4rem;
        }
        .icon{
          font-size: x-large;
          margin-top: 1rem;
        }
      }
    }
    }

    .container:hover > .image{
      transform: translateY(-5rem) ;
      transition: 1s ease-in-out;
      left: 10%;
      right: 10%;
    }

}

@media only screen and (max-width: 800px) {
  .container {
    width: 14rem;
    height: 18rem;
    .wrapper_outline{
      .wrapper{
        .name{
          font-size: small;
          padding-bottom: 0.4rem;
          padding-left: 1.2rem;
        }
        .position{
          font-size: x-small;
        }
        .socialmedia_wrapper{
          position: absolute;
          right: 1rem;
          top: 4rem;
        }
        .icon{
          font-size:large;
          margin-top: 1rem;
        }
        .text_wrapper{
          position: absolute;
          bottom: 2.4rem;
        }
      }
    }

  }
  .container:hover > .image{
    transform: translateY(-4rem) ;
    transition: 1s ease-in-out;
    left: 10%;
    right: 10%;
  }
}

@keyframes fadeIn {
  from {
  	opacity: 0;
  }
  to {
 	opacity: 1;
  }
}