@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: Inter, system-ui, sans-serif;
    overflow-x: hidden;
  }
  @font-face {
    font-family: 'lemonMilk';
    src: url('/Fonts/LemonMilk.otf') ;
    font-weight:400;
    font-display:swap;
    font-style:normal;
  }
}
@layer base{
  @font-face {
    font-family: 'roadRage';
    src: url('/Fonts/Road_Rage.otf') ;
    font-weight:400;
    font-display:swap;
    font-style:normal;


  }
}

@layer base{
  @font-face {
    font-family: 'mokotoGlitch';
    src: url('/Fonts/MokotoGlitch.otf') ;
    font-weight:400;
    font-display:swap;
    font-style:normal;


  }
}

@layer base{
  @font-face {
    font-family: 'babaPro';
    src: url('/Fonts/BabaPro-Bold.ttf') ;
    font-weight:400;
    font-display:swap;
    font-style:normal;


  }
}

@layer base{
  @font-face {
    font-family: 'mokotoGlitchMark';
    src: url('/Fonts/MokotoGlitchMark.otf') ;
    font-weight:400;
    font-display:swap;
    font-style:normal;


  }
}
.hamburger_links{
  @apply  text-[35px] md:text-[45px] my-7 font-black text-white cursor-pointer no-underline z-10 font-[lemonMilk] ;
}
.social_media_wrapper{
@apply flex items-center justify-center relative border-4 border-[rgba(192,201,216,0.4)] p-3 rounded-full no-underline my-2 ;
}
.social_media_wrapper:hover{
box-shadow: -3px -3px 8px 4px #D03CAB, 3px 3px 8px 4px #4EDFFF;
}
.hamburger{
border-image-slice: 1;
border-image-source: linear-gradient(to right,rgba(70, 190, 212, 0.44),rgba(208, 60, 171, 0.55));
}


/* Box sizing rules */
*,
*::before,
*::after {
  box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
  margin: 0;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  min-height: 100vh;
  overflow-x: hidden;
}

body::-webkit-scrollbar{
  display: none;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role="list"],
ol[role="list"] {
  list-style: none;
}

.vanta-canvas{
  -webkit-mask-image: -webkit-gradient(linear, left top, left bottom, 
    from(rgba(0,0,0,0)), to(rgba(0,0,0,0.6)));
  /* opacity: 0.2 !important; */
}

/* Set core root defaults */
html:focus-within {
  scroll-behavior: smooth;
}

/* Set core body defaults */
body {
  min-height: 100vh;
  text-rendering: optimizeSpeed;
}

/* Make images easier to work with */
/* img,
picture {
  max-width: 100%;
  display: block;
} */

/* font family mokoto font */


@font-face {
  font-family: "glitch1";
  src: url("../public/MokotoFont/MokotoGlitch.ttf");
}
@font-face {
  font-family: "glitch2";
  src: url("../public/MokotoFont/MokotoGlitchMark.otf");
}
@font-face {
  font-family: "glitch3";
  src: url("../public/MokotoFont/MokotoGlitchMark2.otf");
}

@font-face {
  font-family: "glitch4";
  src: url("../public/Fonts/MokotoGlitchMark.otf");
}

@font-face {
  font-family: "glitch5";
  src: url("../public/MokotoFont/MokotoGlitchMarkOutline.otf");
}
@font-face {
  font-family: "glitch6";
  src: url("../public/MokotoFont/MoktoGlitchMarkoutline.ttf");
}

/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
  font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
  html:focus-within {
    scroll-behavior: auto;
  }

  *,
  *::before,
  *::after {
    animation-duration: 0.01ms !important;
    animation-iteration-count: 1 !important;
    transition-duration: 0.01ms !important;
    scroll-behavior: auto !important;
  }
}

header {
  /* position: relative; */
  text-align: center;
  justify-content: space-between;
  height: 100vh;
  background: #040404;
  color: #fff;
}
header h1 {
  font-size: 7em;
  font-weight: 100;
}
header h2 {
  font-size: 2em;
}
header span.animated {
  position: absolute;
  margin: auto;
  right: 0;
  left: 0;
  bottom: 50px;
  height: 4px;
  width: 4px;
  border-radius: 2px;
  background: #fff;
  animation-duration: 2.5s;
  animation-iteration-count: infinite;
}

header span::before,
header span::after {
  position: absolute;
  top: -23px;
  content: "";
  height: 30px;
  width: 4px;
  border-radius: 2px;
  background: #fff;
}

header span::before {
  left: -10px;
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -ms-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

header span::after {
  right: -10px;
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}
header .animated p {
  color: gray;
}
header .image1 {
  size: 10vh;
}
header .animated {
  justify-content: space-between;
  align-content: space-evenly;
}
@media (max-width: 475px) {
  header h1 {
    font-size: 3.2em;
  }

  header h2 {
    font-size: 1.5em;
  }
}
html{
  scroll-behavior: smooth;
}

.backgroundcolor {
  background: rgb(0,74,126);
  background-image: linear-gradient(135deg, rgb(3, 77, 134), rgb(12, 0, 31));
}
