.mod_container{
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    background-color: black;
    .main{
        grid-column: span 6 / span 6;
    }
    .bg{
        position: fixed;
        height: 100vh;
        width: 100vw;

        #one{
            width: 40rem;
            height: 40rem;
            border: 2px solid rgba(251, 251, 251, 0.272);
            border-radius: 50%;
            position: absolute;
            top: 50vh;
            left: 50vw;
            transform: translate(-50%, -50%);
            animation: sm 4s linear infinite;
        }
        #two{
            width: 30rem;
            height: 30rem;
            border: 1px solid rgba(109, 109, 109, 0.336);
            border-radius: 50%;
            position: absolute;
            top: 50vh;
            left: 50vw;
            transform: translate(-50%, -50%);
            animation: md 4s linear infinite;
        }
        #three{
            width: 40rem;
            height: 40rem;
            border: 1px solid rgba(99, 99, 99, 0.285);
            border-radius: 50%;
            position: absolute;
            top: 50vh;
            left: 50vw;
            transform: translate(-50%, -50%);
            animation: lg 3s linear infinite;
        }
    }
}

@keyframes sm{
    0%{
        width: 40rem;
        height: 40rem;
        opacity: 0;
        border-width: 6px;
    }
    33%{
        width: 30rem;
        height: 30rem;
        opacity: 0.25;
        border-width: 4px;
    }
    67%{
        width: 20rem;
        height: 20rem;
        opacity: 0.5;
        border-width: 2px;
    }
    100%{
        width: 30rem;
        height: 30rem;
        opacity: 0.25;
        border-width:4px;
    }
}

@keyframes md{
    0%{
        width: 30rem;
        height: 30rem;
        opacity: 0;
    }
    25%{
        width: 40rem;
        height: 40rem;
        opacity: 1;
        border-width: 2px;
    }
    50%{
        width: 50rem;
        height: 50rem;
        opacity: 0.5;
        border-width: 8px;
    }
    75%{
        width: 40rem;
        height: 40rem;
        opacity: 0.25;
        border-width: 4px;
    }
    100%{
        width: 30rem;
        height: 30rem;
        opacity: 0;
        border-width:2px;
    }
}

@keyframes lg{
    0%{
        width: 40rem;
        height: 40rem;
        opacity: 0;
    }
    33%{
        width: 50rem;
        height: 50rem;
        opacity: 1;
        border-width: 6px;
    }
    67%{
        width: 60rem;
        height: 60rem;
        opacity: 0.5;
        border-width: 12px;
    }
    100%{
        width: 70rem;
        height: 70rem;
        opacity: 0;
        border-width:18px;
    }
}
@media only screen and (max-width: 800px){
    .mod_container{
        display: block;
    }
}